venv/
.env/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache

.idea/
.vscode/
*.swp
*.swo

*.log
*.tmp
*.bak

migrations/

build/
dist/
*.egg-info/
*.egg

*.env
*.secret
config.yml

.ipynb_checkpoints/

test_output/
coverage.xml
.coverage
htmlcov/

.DS_Store